html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

#holder {
  min-height: 100%;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("images/back.jpg");
}

#tree {
  position: absolute;
  left: 0;
  bottom: 0;
}

#coco {
  position: relative;
  z-index: 0;
  width: 1em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  right: 10%;
  position: absolute;
}

header a {
  text-shadow: 1px 1px 10px #000000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 0.2rem;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
}

header a:hover {
  cursor: pointer;
}

header a:nth-child(n + 2) {
  margin: 0 0 0 0.5rem;
}

header a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -4.7;
  background: white;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

header a:hover:before {
  right: 0;
}

#burger {
  display: none;
}

#reference,
#aboutMe,
#home {
  color: white;
  text-align: center;
  margin: auto 15% auto 15%;
  width: 70%;
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 150%;
  font-size: 22px;
}

#reference h1,
#aboutMe h1,
#home h1 {
  font-size: 32px;
}

#reference span,
#aboutMe span,
#home span {
  padding: 0;
}

#home img {
  width: 15vw;
  z-index: 2;
  border-radius: 30%;
}

#reference section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#reference section img {
  border-radius: 15%;
  position: relative;
  width: 15vw;
  margin: 0% 1rem 10% 1rem;
}

.phoneFooter {
  display: none;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.phoneFooter div {
  margin-bottom: 0.3rem;
}

.phoneFooter a {
  color: white;
}

footer {
  position: absolute;
  bottom: -10rem;
  height: auto;
  min-height: 10rem;
  width: 100%;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer table {
  min-width: 30%;
  width: auto;
  margin: 0 0 0 5%;
  font-size: 1rem;
  color: white;
}

footer table td {
  height: 1.5rem;
  padding-right: 1rem;
}

footer table a {
  color: white;
}

footer span {
  position: absolute;
  font-size: 3rem;
  color: white;
  right: 5%;
  font-weight: 600;
}

@media only screen and (max-width: 1350px) {
  #tree {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  #reference h1,
  #aboutMe h1,
  #home h1 {
    font-size: 2.5rem;
  }
  #reference h3,
  #aboutMe h3,
  #home h3 {
    font-size: 1.5rem;
  }
  #reference span br,
  #aboutMe span br,
  #home span br {
    display: none;
  }
  #home img {
    width: 30vw;
  }
  #reference section img {
    width: 40vw;
  }
}

@media only screen and (max-width: 767px) {
  header {
    -webkit-transition: 1s;
    transition: 1s;
    right: -50vw;
    position: fixed;
    background-color: #181818;
    height: 100vh;
    width: 50vw;
    z-index: 2;
  }
  header nav {
    right: auto;
    left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav a {
    width: auto;
    letter-spacing: normal;
    font-size: 1rem;
    margin: 0 0vw 0 5vw;
  }
  header nav a img {
    display: none;
  }
  header nav a:nth-child(n + 2) {
    margin: 4vh 40vw 0 5vw;
  }
  #burger {
    position: fixed;
    z-index: 10;
    right: 20;
    top: 20;
    display: block;
    width: 10vw;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.35);
  }
  * {
    font-size: 1rem;
  }
  #reference,
  #aboutMe,
  #home {
    line-height: 100%;
    text-align: center;
    margin: 0 5% 0% 5%;
    width: 90%;
    min-height: 100vh;
  }
  #reference h1,
  #aboutMe h1,
  #home h1 {
    font-size: 20px;
  }
  #reference span,
  #aboutMe span,
  #home span {
    font-size: 15px;
  }
  #reference span br,
  #aboutMe span br,
  #home span br {
    display: none;
  }
  #home img {
    width: 50vw;
  }
  #reference section img {
    width: 33vh;
  }
  footer {
    bottom: -15rem;
    height: auto;
    min-height: 15rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer table {
    display: none;
  }
  footer .phoneFooter {
    display: block;
  }
  footer span {
    display: none;
  }
}
/*# sourceMappingURL=styling.css.map */