* {
     box-sizing: border-box;
     font-family: Arial;
}

.wrapper {
     width: 100vw;
     height: 100vh;
}

.game {
     background-image: url("images/board.jpg");
     background-position: center;
     background-size: contain;
     height: 80%;
     aspect-ratio: 1;
}

.starting-page,
.winning-page {
     background: linear-gradient(to top left,
               #112f4d,
               #16426a,
               #112f4d,
          );
}

.winning-page {
     height: 20%;
     margin: 37.5% 25%;
}

.avatar-btn {
     border: none;
     background-size: cover;
     background-color: rgba(0, 0, 0, 0);
     width: 15%;
     aspect-ratio: 1;

     &.selected-avatar {
          border-radius: 50%;
          border: 2px solid white;
          border-style: dashed;
     }     
     
     &:disabled {
          opacity: 0.3;
     }

     &.avatar-blue {
          background-image: url("images/avatars/blue.png");
     }

     &.avatar-green {
          background-image: url("images/avatars/green.png");
     }

     &.avatar-yellow {
          background-image: url("images/avatars/yellow.png");
     }

     &.avatar-pink {
          background-image: url("images/avatars/pink.png");
     }
}

.dice-placeholder {
     height: 15%;
     aspect-ratio: 1;

     .dice-number {
          background-position: center;
          background-size: contain;
          height: 100%;
          aspect-ratio: 1;

          &[disabled] {
               opacity: 0.5;
          }

          &.dice-1 {
               background-image: url("images/1.png");
          }

          &.dice-2 {
               background-image: url("images/2.png");
          }

          &.dice-3 {
               background-image: url("images/3.png");
          }

          &.dice-4 {
               background-image: url("images/4.png");
          }

          &.dice-5 {
               background-image: url("images/5.png");
          }

          &.dice-6 {
               background-image: url("images/6.png");
          }
     }
}

.player {
     position: absolute;
     width: 10%;
     height: 10%;
     background-size: cover;
     transition: 1s;

     &.player-1 {
          background-image: url("images/avatars/blue.png");
     }

     &.player-2 {
          background-image: url("images/avatars/green.png");
     }

     &.player-3 {
          background-image: url("images/avatars/yellow.png");
     }

     &.player-4 {
          background-image: url("images/avatars/pink.png");
     }
}

@media (max-aspect-ratio: 1/1) {
     .game {
          height: unset;
          width: 85%;
     }

     .dice-placeholder {
          height: unset;
          width: 15%;
     }
}