* {
     box-sizing: border-box;
}
body {
     font-family: Arial;
}
#holder {
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}
#game {
     background-image: url("images/board.jpg");
     background-position: center;
     background-size: contain;
     width: 80vh;
     height: 80vh;
     position: relative;
}

#starting-page {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgb(216, 212, 156);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     padding: 20% 0;
}

.number-of-players {
     button:focus {
          background-color: yellow;
     }
     width: 60%;
     height: 10%;
     margin: 0 20%;
     display: flex;
     justify-content: center;
     align-items: center;
     button {
          width: 2vw;
          font-weight: 800;
          margin: 0 1%;
     }
}
.player-avatars {
     width: 50%;
     margin: 0 25%;

     div {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          button:focus {
               background-color: red;
          }
          * {
               margin: 3% 1%;
          }
          button {
               width: 2vw;
               height: 2vw;
               font-weight: 800;
               margin: 0 1%;
          }
     }
}
.avatar-blue {
     background-image: url("images/avatars/blue.png");
     background-size: cover;
     background-color: rgba(0, 0, 0, 0);
     border: none;
}
.avatar-green {
     background-image: url("images/avatars/green.png");
     background-size: cover;
     background-color: rgba(0, 0, 0, 0);
     border: none;
}
.avatar-yellow {
     background-image: url("images/avatars/yellow.png");
     background-size: cover;
     background-color: rgba(0, 0, 0, 0);
     border: none;
}
.avatar-pink {
     background-image: url("images/avatars/pink.png");
     background-size: cover;
     background-color: rgba(0, 0, 0, 0);
     border: none;
}
#start-button {
     width: 15%;
}

#dice {
     position: relative;
     margin-left: 1vw;
     width: 15vh;
     height: 15vh;
     div {
          width: 100%;
          height: 100%;
          background-size: cover;
          border: 1px solid black;
          display: none;
          button {
               width: 100%;
               height: 100%;
               opacity: 25%;
          }
     }
     #dice-1 {
          display: block;
          background-image: url("images/1.png");
     }
     #dice-2 {
          background-image: url("images/2.png");
     }
     #dice-3 {
          background-image: url("images/3.png");
     }
     #dice-4 {
          background-image: url("images/4.png");
     }
     #dice-5 {
          background-image: url("images/5.png");
     }
     #dice-6 {
          background-image: url("images/6.png");
     }
}
#player-1 {
     position: absolute;
     width: 10%;
     height: 10%;
     background-image: url("images/avatars/blue.png");
     background-size: cover;
     transition: 1s;
}
#player-2 {
     position: absolute;
     width: 10%;
     height: 10%;
     background-image: url("images/avatars/green.png");
     background-size: cover;
     transition: 1s;
}
#player-3 {
     position: absolute;
     width: 10%;
     height: 10%;
     background-image: url("images/avatars/yellow.png");
     background-size: cover;
     transition: 1s;
}
#player-4 {
     position: absolute;
     width: 10%;
     height: 10%;
     background-image: url("images/avatars/pink.png");
     background-size: cover;
     transition: 1s;
}
@media only screen and (max-width: 1024px) {
     #starting-page {
          padding: 0% 0;
     }

     #holder {
          font-size: 2em;
          height: 100%;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
     }
     #game {
          width: 95vw;
          height: 95vw;
     }

     .player-avatars {
          width: 80%;
          margin: 0 10%;

          div {
               button {
                    width: 10vw;
                    height: 10vw;
                    margin: 0 0%;
               }
          }
     }
     #start-button {
          font-size: 1em;
     }
     .number-of-players {
          width: 100%;
          margin: 5% 0%;
          button {
               font-size: 1em;
               width: 5vw;
               height: 5vw;
          }
     }
}
@media only screen and (max-width: 812px) {
     #holder {
          font-size: 0.8em;
     }
     .player-avatars {
          div {
               button {
                    width: 10vw;
                    height: 10vw;
                    margin: 0 0%;
               }
          }
     }
     #start-button {
          font-size: 0.8em;
     }
     .number-of-players {
          button {
               font-size: 0.8em;
               width: 6vw;
               height: 6vw;
          }
     }
}
